@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}

.container {
  margin-top: 3rem;
}
.main-card .card-content {
  border-radius: 23px;
}

.card-action h2 {
  font-size: 24px;
  font-weight: 600;
}
span.card-title {
  font-size: 24px !important;
  font-weight: 600 !important;
}

input-field {
  color: #8397d3;
}
.btn {
  border-radius: 4px;
  background-color: #8339f2;
  margin-left: 11px;
}
.btn:hover {
  background-color: #8d49f3;
}
.clear-tasks {
  background: #363e4a;
  transition: all 0.3s ease;
}
.clear-tasks:hover {
  background: #2d333d;
  box-shadow: 1px 2px 7px rgba(43, 43, 43, 0.452);
}
